# Dependencias
node_modules
npm-debug.log
pnpm-debug.log
yarn-debug.log
yarn-error.log

# Next.js
.next
out
dist

# Archivos de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# IDE
.vscode
.idea
*.swp
*.swo
*~

# Testing
coverage
.nyc_output

# Misc
.DS_Store
*.pem
README.md
